.btn-secondary {
    background-color: $primary;
    border: none;
    color: $fe
}

.btn-secondary:hover {
    background-color: $dark-grey!important;
}

.btn-success {
    border: none;
}

.btn-primary {
    background-color: $primary;
    letter-spacing: 1.1px;
    font-weight: 500;
    font-size: 1.15rem;
    border: none;
}

.btn-primary:hover {
    background-color: $purple;
}

.btn {
    border-radius: 360px;
}