.btn-secondary {
    background-color: $primary;
    border: none;
    border-radius: 360px;
    color: $fe
}

.btn-secondary:hover {
    background-color: $dark-grey!important;
}

.btn-success {
    border: none;
    border-radius: 360px;
}