// Colors
$primary: #42218a;
$secondary: #0d1329;
$fade: #53595a79;
$light-grey: #eff3f6;
$light-purple: #dccae4;
$dark-grey: #53595a;
$grey: #977da0;
$white: #ffffff;
$fe: #fefefe;
$purple: #6444ab;
$green: #006602;
$red: rgb(255, 119, 119);
