// Colors 
$primary: #42218A;
$secondary: #0D1329;
$fade: #53595a79;
$light-grey: #EFF3F6;
$light-purple: #dccae4;
$dark-grey: #53595A;
$grey: #977da0;
$white: #FFFFFF;
$fe: #FEFEFE;
$purple: #6444AB;
$green: #006602;
$red: rgb(255, 119, 119);