@import "../../node_modules/bootstrap/scss/functions";

@import "./variables";

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/vendor/rfs";

@import "./utilities";
@import "./buttons";
@import "./modal";
@import "./reboot";
@import "./rfs";
@import "./card";
@import "./nav";

// custom classes

// -------- Global --------- //

.width {
    max-width: 1220px;
    padding: 5px 20px;
}

.layer {
    background-color: $light-grey;
}

.layer-fill {
    fill: $light-grey;
}

.modal-bg {
    background-color: $fade;
}

svg {
    z-index: -1;
}

li {
    list-style: none;
    margin: 5px 0px;
}

.icon-size {
    width: 20px;
}

// -------- Header --------- //

.logo {
    font-weight: bold;
    color: $purple;
}

.logo-img {
    width: 40px;
    height: 50px;
}

nav {
    color: $grey;
}

// -------- Profile --------- //

.profile-img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 10px;

}

// -------- Listings --------- //

.listing {
    overflow: hidden;
    width: 250px;
    min-height: 400px;
    box-shadow: 5px 5px 10px 5px $light-grey;
    border-radius: 10px;
}