@import "../../node_modules/bootstrap/scss/functions";

@import "./variables";

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/vendor/rfs";

@import "./utilities";
@import "./buttons";
@import "./modal";
@import "./reboot";
@import "./rfs";
@import "./card";
@import "./nav";

// custom classes

// -------- Global --------- //

.width {
    max-width: 1220px;
    padding: 5px 20px;
}

.layer {
    background-color: $light-grey;
}

.layer-fill {
    fill: $light-grey;
}

.modal-bg {
    background-color: $fade;
}

svg {
    z-index: -1;
}

li {
    list-style: none;
    margin: 5px 0px;
}

.icon-size {
    width: 20px;
}

body {
    margin:0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// -------- Header --------- //

.logo {
    font-weight: bold;
    color: $purple;
}

.logo-img {
    width: 40px;
    height: 50px;
}

nav {
    color: $grey;
}

// -------- Profile --------- //

.profile-img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 10px;

}

// -------- Listings --------- //

.listing {
    overflow: hidden;
    width: 300px;
    min-height: 500px;
    box-shadow: 5px 5px 10px 5px $light-grey;
    border-radius: 10px;
}

.listingCard:hover {
    background-color: $light-grey;
    transform:scale(1.02);
    transition: ease-in-out;
    box-shadow: none;
    border-radius: 10px;
}

.border-fix {
    border-radius: 0px 0px 15px 0px;
}

.hide {
    display: none!important;
}

.description-width {
    overflow: hidden;
}

.input-width {
    width: 250px;
    border-radius: 360px;
}

.bidder-card {
    min-width: 250px;
    border-radius: 360px;
    background-color: lightgreen;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
}

.selector-img {
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    overflow:hidden;
    margin: 5px 5px;
    cursor: pointer;
}

.listing-img {
    background-size: cover;
    background-position: center;
    min-width: 300px;
    min-height: 300px;
    margin: 0px 5px;
}

.mediaContainer {
    overflow-x: auto;
    max-width: 300px;
    padding-bottom: 10px;
}

.mediaContainer::-webkit-scrollbar {
    width: 300px;
    height: 20px;
    margin-top: 10px;
    background-color: $light-grey;
}

.mediaContainer::-webkit-scrollbar-thumb {
    background-color: $purple;
    border-radius: 360px;
}

.mediaContainer::-webkit-scrollbar-thumb:hover {
    background-color: $primary;
}

.slider {
    max-width:300px;
    overflow: hidden;
    display:flex;
}


.slides {
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slides > img {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

//.slides::-webkit-scrollbar {
 //   display:none
//}

#slide1 {
    margin-top:0.1px
}

#slide2 {
    margin-top:0.2px
}

#slide3 {
    margin-top:0.3px
}

#slide4 {
    margin-top:0.4px
}

#slide5 {
    margin-top:0.5px
}

#slide6 {
    margin-top:0.6px
}

#slide7 {
    margin-top:0.7px
}

#slide8 {
    margin-top:0.8px
}

#slide9 {
    margin-top:0.9px
}